@import "tailwindcss";

@theme {
  --color-primary: #F59E0B;
  --color-secondary: #0F172A;
  --color-background: #FFFFFF;
  --color-background-light: #F8FAFC;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-secondary);
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}
